@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E8F5E9;
}

header {
    display: flex;
    gap: 60%;
    font-size: 150%;
}

.page {
  height: 85vh;
  font-size: 200%;
}

h1 b {
    font-weight: 700;
    color: purple;
}

ul {
    display: flex;
    gap: 20%;
    white-space: nowrap;
}

ul li {
    list-style: none;
}

a {
    margin: 5% 0;
}

img {
    position: absolute;
    width: 15%;
    top: 28%;
    left: 65%;
}

.my-details {
    font-size: 150%;
    position: absolute;
    top: 30%;
    left: 20%;
}

.my-details h2 {
    font-size: 90%;
    margin-bottom: 2%;
    color: coral;
    font-family: 'Sunshiney', cursive;
}

p > b {
  font-size: 120%;
  font-family: 'Megrim', cursive;
}

.bio {
    font-size: 60%;
}

.cv-dock {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
    position: absolute;
    top: 60%;
    left: 21%;
    padding: 1em 0;
}

button {
    border: none;
    font-size: 60%;
    width: 16em;
    height: 7vh;
    background-color: coral;
    color: white;
    border: 5px solid white;
    font-weight: 800;
}

button:hover {
    background-color: white;
    color: coral;
    border: 5px solid black;
}

.projects {
  width: 90%;
}

h2 {
  text-decoration: underline;
}

details:not(.tools-section, .description-section) {
  margin-left: 2%;
}

details:not(.tools-section, .description-section) > span, ol{
  margin-left: 4%;
}

.about-me {
  background-color: #F3E5F5;
  height: 50vh;
  width: 85%;
  margin: 0 auto;
  padding: 2%;
  margin-bottom: 5%;
}

.about-me h2 {
  font-family: 'Special Elite', cursive;
}

.about-me p {
  width: 80%;
  margin: 2% auto;
  font-family: 'Handlee', cursive;
  font-weight: 500;
}

.socials img {
  width: 4%;
  position: relative;
  left: 10%;
  margin: 0 1%;
  padding: .5%;
  background-color: aliceblue;
}

.socials img:hover { 
  padding: 0%;
}

.projects {
  width: 85%;
  margin: 0 auto;
  font-size: 200%;
}

.projects p {
  margin: 1% 0;
}

.projects-done {
  font-size: 200%;
  width: 85%;
  margin: 0 auto;
}

.projects-done img {
  position: relative;
  left: 1%;
  width: 30%;
  background-color: #E8F5E9;
}

.projects-done h2 {
  margin: 1.5% 0;
}

.projects-done:hover img {
  opacity: 1;
}

.mashamba {
  position:relative;
}
